@import url(https://fonts.googleapis.com/css?family=Raleway:400,600);

$font: 'Raleway', 'Helvetica', sans-serif;

$primary: #DDD;
$secondary: #27A;

$default-bg-color: #444;

$header-primary: $primary;
$header-secondary: $secondary;